# Ignore virtual environment
venv/

# Ignore compiled Python files and cache
iching/__pycache__/
iching/__pycache__/*
__pycache__/
__pycache__/*
*.py[cod]

# Ignore local notes/planning files
scope-planning.txt

# Ignore raw and conversion files
iching/assets/original-raw/
iching/assets/tools/
